<% var data = {
  title: "Title",
  type: "sign"
}; %>
<%= _.template(require('./../imports/_header.html').default)(data) %>

<!-- <svg>
  <use xlink:href="img/spritemap.svg#icon-rectangle"></use>
</svg> -->

<main class="sign">
<article class="password">
  <h2>Forgot password</h2>
  <div class="description">Enter the email address that you used when you registered and we will send an instruction link to reset your password.</div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email">
  </div>
  <div class="submit">
    <button class="btn green">Send</button>
  </div>
</article>
</main>

<%= _.template(require('./../imports/_footer.html').default)(data) %>