<% var data = {
  title: "Title",
  type: "profile"
}; %>
<%= _.template(require('./../imports/_header.html').default)(data) %>

<!-- <svg>
  <use xlink:href="img/spritemap.svg#icon-rectangle"></use>
</svg> -->


<main class="profile">
  <div class="wrapper">
    <aside class="profile__menu">
      <div class="photo">
        <img src="./img/profile-photo.jpg" alt="">
      </div>
      <div class="name">Anton Makano</div>
      <ul class="profile__tabs">
        <li class="current" data-target="profil">Profil</li>
        <li data-target="password">Password</li>
        <li data-target="notification">Notification</li>
      </ul>
    </aside>
    <article class="profile__list">
      <ul class="profile__tabs_list">
        <!-- Profil -->
        <li class="current" id="profil">
          <section class="photo">
            <div class="photo--img">
              <img src="./img/no-photo.svg" alt="">
            </div>
            <div class="photo--form">
              <div class="title">Add / Change image</div>
              <label>
                <input type="file">
                <input type="text" readonly class="form-control" placeholder="no file selected">
                <span class="btn btn-border green">Upload image</span>
              </label>
            </div>
          </section>
          <section class="general">
            <h5>General</h5>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name">
            </div>            
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Surname">
            </div>            
            <div class="form-group">
                <textarea name="" class="form-control" placeholder="Description"></textarea>
            </div>
            <div class="langlist">
              <select name="language" class="form-control">
                <option value="Català">Català</option>
                <option value="Dansk">Dansk</option>
                <option value="Deutsch">Deutsch</option>
                <option value="English" selected="selected">English</option>
                <option value="Español">Español</option>
                <option value="Français">Français</option>
                <option value="Italiano">Italiano</option>
                <option value="Magyar">Magyar</option>
                <option value="Nederlands">Nederlands</option>
                <option value="Norsk">Norsk</option>
                <option value="Polski">Polski</option>
                <option value="Português Brasileiro">Português Brasileiro</option>
                <option value="Pусский">Pусский</option>
                <option value="Slovenščina">Slovenščina</option>
                <option value="Suomi">Suomi</option>
                <option value="Svenska">Svenska</option>
                <option value="Türkçe">Türkçe</option>
              </select>
              <svg class="icon-expand">
                <use xlink:href="img/spritemap.svg#icon-expand"></use>
              </svg>
            </div>
          </section>
          <section class="links">
            <h5>Link</h5>
            <div class="links--item">
              <div class="facebook">
                <img src="./img/facebook.svg" alt="">
                <span>Connect to Facebook</span>
              </div>
              <input type="text" class="form-control" placeholder="link Facebbok">
            </div>
            <div class="links--item">
              <div class="twitter">
                <img src="./img/twitter.svg" alt="">
                <span>Connect to Twitter</span>
              </div>
              <input type="text" class="form-control" placeholder="link Twitter">
            </div>
            <div class="links--item">
              <div class="google">
                <img src="./img/google.svg" alt="">
                <span>Connect to Google</span>
              </div>
              <input type="text" class="form-control" placeholder="link Google">
            </div>
            <div class="links--item">
              <div class="linkedin">
                <img src="./img/linkedin.svg" alt="">
                <span>Connect to LinkedIn</span>
              </div>
              <input type="text" class="form-control" placeholder="link LinkedIn">
            </div>
          </section>
          <section class="submit">
            <button class="btn btn-border btn-short green">Cancel</button>
            <button class="btn btn-short green">Save</button>
          </section>
        </li>
        <!-- / -->
        <!-- Password -->
        <li id="password">
          <section class="passwor">
            <h5>Password</h5>
            <div class="form-group">
              <input type="text" name="" class="form-control" placeholder="email" value="antonmakano@gmail.com">
            </div>
            <div class="form-group">
              <input type="password" name="" class="form-control" placeholder="Current password" value="">
            </div>
            <div class="form-group">
              <input type="password" name="" class="form-control" placeholder="New password" value="">
            </div>
            <div class="form-group">
              <input type="password" name="" class="form-control" placeholder="Confirm new password" value="">
            </div>
            <section class="submit">
              <button class="btn btn-border btn-short green">Cancel</button>
              <button class="btn btn-short green">Save</button>
            </section>
          </section>
        </li>
        <!-- / -->
        <!-- Password -->
        <li id="notification">
          <section>
            <h5>Password</h5>
            <div class="check-group">
              <label class="custom-checkbox">
                <input type="checkbox" checked>
                <i></i>
                <span>Promosi, kelas rekomendasi, and resource yang membantu dari Skillomo.</span>
              </label>
            </div>
            <div class="check-group">
              <label class="custom-checkbox">
                <input type="checkbox" checked>
                <i></i>
                <span>Pemberitahuan dari pengajar kelas yang saya ikuti seputar kurikulum pembelajaran.</span>
              </label>
            </div>
            <div class="check-group">
              <label class="custom-checkbox">
                <input type="checkbox">
                <i></i>
                <span>
                  Jangan kirimi saya promosi apapun ke email.
                  <br>
                  Jika mencentang ini, anda akan tetap menerima pemberitahuan penting.
                </span>
              </label>
            </div>
          </section>
          <section class="submit">
            <button class="btn btn-border btn-short green">Cancel</button>
            <button class="btn btn-short green">Save</button>
          </section>
        </li>
        <!-- / -->
      </ul>
    </article>
  </div>
</main>


<%= _.template(require('./../imports/_footer.html').default)(data) %>