.icon-arrow-right {
	fill: none;
	stroke: currentColor;
}
.icon-ic-nitification {
	width: 24px;
	height: 24px;
	fill: none;
	stroke: currentColor;
}
.icon-ic-user {
	fill: #c1c8d6;
	width: 20px;
	height: 20px;
}
.icon-star-stroke {
	fill: #e6eaf2;
	stroke: none;
}
.icon-star-filled {
	fill: #ffcd00;
	stroke: none;
}
.icon-play-circle {
	fill: #c1c8d6;
}
.icon-more-horiz {
	width: 16px;
	height: 4px;
	fill: #bac1cc;
}
.icon-attachment {
	width: 17px;
	height: 19px;
	fill: #c1c8d6;
}
.icon-ic-search-cours {
	width: 15px;
	height: 16px;
	fill: #cdd3de;
}
.icon-expand {
	width: 10px;
	height: 6px;
	fill: none;
	stroke: #c1c8d6;
}
.icon-settings {
	width: 18px;
	height: 18px;
	fill: none;
	stroke: #c1c8d6;
}
.icon-ic-announcement {
	width: 14px;
	height: 14px;
	fill: #ff8201;
}
.icon-ic-like {
	width: 14px;
	height: 14px;
	fill: #39b8ab;
}
.icon-ic-comment {
	width: 14px;
	height: 14px;
	fill: #50a2ff;
}
